@media only screen and (max-width: 1200px;) {}
       


html {
    box-sizing: border-box;
}

/* Navbar container */
body {
	background-image: url("images/BennionEPSmall.jpg");
}

.mainTitle {
    text-align: center;
    padding: 2em;
    font-family: Mako, sans-serif;
    font-size: 2em;
    background-color: #f2f2f2;
    color: #337745;
    border-radius: 10px;
}

.navbar {
    overflow: hidden;
	margin: 0;
    background-color: #f2f2f2;
    display: flex;
    list-style: none;
	padding: 1em;
	border-radius: 10px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
	text-align: center;
	color: #337745;
    text-decoration: none;
    font-family: Mako, sans-serif;
    font-size: 1.25rem;
    flex-shrink: 1;
    padding: .5rem;
    list-style: none;
}

/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

.navbar a:hover {
	color: #f2f2f2;
	background-color: #337745;
	transition-duration: 100ms;
	border-radius: 10px;
}

/* Dropdown button */
.dropdown .drop-link {
	font-family: inherit;
	background-color: inherit;
	outline: none;
	border: none;
}

/* Dropdown Content */
.dropdown-resources {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
	border-radius: 10px;
	margin-top: 40px;
	background-color: #f2f2f2;
}

/* Dropdown Content links */
.dropdown-resources a {
	float: none;
	text-decoration: none;
	display: block;
	text-align: left;
    margin: 1px;
    padding: .5em;
}

.dropdown-resources a:hover {

}


.dropdown:hover .dropdown-resources {
	display: block;
	
}